<div class="information-box">
    <!-- <div class="flex-toptime">
        <span>今天07/07 星期六</span>
    </div> -->
    <div class="item-box">
        <div class="time-box">
            <span>今天07/07 星期六</span>
        </div>
        <div class="item" (click)="itemClick.emit(1)">
            <div class="time-first"><p>12:56</p></div>
            <div class="header-b">
                <span>小葱快讯</span>
                <span class="right">查看详情</span>
            </div>
            <div class="content">
                <header>摩托撞车、国旗彩烟搞错！法国国庆阅兵状况频出，幸亏特朗普没来</header>
                <p>当地时间2018年7月14日，是法国的国庆日“巴士底日”。法国政府在香榭丽舍大街举行盛大的国庆阅兵仪式，法国总统马克龙以及一众外国领导现场观礼，然而这场极具意义的的国庆阅兵仪式上却失误频频，喜感直逼印度阅兵。</p>
            </div>
            <div class="bottom">
                <div></div>
                <div class="right">
                    
                </div>
            </div>
        </div>
        <div class="item">
            <div class="time-first">
                <p>12:56</p>
            </div>
            <div class="header-b">
                <span>小葱快讯</span>
                <span class="right">查看详情</span>
            </div>
            <div class="content">
                <header>摩托撞车、国旗彩烟搞错！法国国庆阅兵状况频出，幸亏特朗普没来</header>
                <p>当地时间2018年7月14日，是法国的国庆日“巴士底日”。法国政府在香榭丽舍大街举行盛大的国庆阅兵仪式，法国总统马克龙以及一众外国领导现场观礼，然而这场极具意义的的国庆阅兵仪式上却失误频频，喜感直逼印度阅兵。</p>
            </div>
            <div class="bottom">
                <div></div>
                <div class="right">
        
                </div>
            </div>
        </div>
        <div class="item">
            <div class="time-first">
                <p>12:56</p>
            </div>
            <div class="header-b">
                <span>小葱快讯</span>
                <span class="right">查看详情</span>
            </div>
            <div class="content">
                <header>摩托撞车、国旗彩烟搞错！法国国庆阅兵状况频出，幸亏特朗普没来</header>
                <p>当地时间2018年7月14日，是法国的国庆日“巴士底日”。法国政府在香榭丽舍大街举行盛大的国庆阅兵仪式，法国总统马克龙以及一众外国领导现场观礼，然而这场极具意义的的国庆阅兵仪式上却失误频频，喜感直逼印度阅兵。</p>
            </div>
            <div class="bottom">
                <div></div>
                <div class="right">
        
                </div>
            </div>
        </div>
        <div class="item">
            <div class="time-first">
                <p>12:56</p>
            </div>
            <div class="header-b">
                <span>小葱快讯</span>
                <span class="right">查看详情</span>
            </div>
            <div class="content">
                <header>摩托撞车、国旗彩烟搞错！法国国庆阅兵状况频出，幸亏特朗普没来</header>
                <p>当地时间2018年7月14日，是法国的国庆日“巴士底日”。法国政府在香榭丽舍大街举行盛大的国庆阅兵仪式，法国总统马克龙以及一众外国领导现场观礼，然而这场极具意义的的国庆阅兵仪式上却失误频频，喜感直逼印度阅兵。</p>
            </div>
            <div class="bottom">
                <div></div>
                <div class="right">
        
                </div>
            </div>
        </div>
        <div class="item">
            <div class="time-first">
                <p>12:56</p>
            </div>
            <div class="header-b">
                <span>小葱快讯</span>
                <span class="right">查看详情</span>
            </div>
            <div class="content">
                <header>摩托撞车、国旗彩烟搞错！法国国庆阅兵状况频出，幸亏特朗普没来</header>
                <p>当地时间2018年7月14日，是法国的国庆日“巴士底日”。法国政府在香榭丽舍大街举行盛大的国庆阅兵仪式，法国总统马克龙以及一众外国领导现场观礼，然而这场极具意义的的国庆阅兵仪式上却失误频频，喜感直逼印度阅兵。</p>
            </div>
            <div class="bottom">
                <div></div>
                <div class="right">
        
                </div>
            </div>
        </div>
        <div class="item">
            <div class="time-first">
                <p>12:56</p>
            </div>
            <div class="header-b">
                <span>小葱快讯</span>
                <span class="right">查看详情</span>
            </div>
            <div class="content">
                <header>摩托撞车、国旗彩烟搞错！法国国庆阅兵状况频出，幸亏特朗普没来</header>
                <p>当地时间2018年7月14日，是法国的国庆日“巴士底日”。法国政府在香榭丽舍大街举行盛大的国庆阅兵仪式，法国总统马克龙以及一众外国领导现场观礼，然而这场极具意义的的国庆阅兵仪式上却失误频频，喜感直逼印度阅兵。</p>
            </div>
            <div class="bottom">
                <div></div>
                <div class="right">
        
                </div>
            </div>
        </div>
    </div>
</div>