<!-- Generated template for the ContListComponent component -->
<div class="list-box">
  <table>
    <thead>
      <tr>
        <th>
          <ion-icon name="search"></ion-icon>
          <span>名称(2299个)</span>
        </th>
        <th>
          <span>全球指数(¥)<ion-icon name="arrow-round-down"></ion-icon></span>
        </th>
        <th>
          <span>流通市值<ion-icon name="arrow-round-down"></ion-icon></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="icon">
            <p class="up">
              <ion-icon name="at"></ion-icon>
            </p>
            <p class="down">
              <span>01</span>
            </p>
          </div>
          <div class="title">
            <p class="up">
              <b>BTC</b><span>比特币</span>
            </p>
            <p class="down">
              <span>发行总量:2100万</span>
            </p>
          </div>
        </td>
        <td>
          <div class="title">
            <p class="up">
              <b class="color-green">44289.35</b>
            </p>
            <p class="down">
              <span>-1.22%</span>
            </p>
          </div>
        </td>
        <td>
          <div class="title">
            <p class="up">
              <b class="color-red">7559亿</b>
            </p>
            <p class="down">
              <span>-93.51亿</span>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
