.segment-ios .segment-button{
    flex: none;
    width: 65px;
}
ion-content{
    .scroll-content{
        // display: flex;
        // overflow: hidden;
        // flex-direction: column;
        scroll-bar{
            height: 44px;
        }
        .tables-box{
            position: absolute;
            top: 44px;
            bottom: 0;
            left: 0;
            right: 0;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }
}
